#header{
    background-color:rgb(155, 0, 157);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bouton1{
    background-color: rgb(0, 225, 115);
}
#logoheader{
    height: 30px;
}
#form{
    text-align: center;
    justify-content: center;
    align-items: center;
}
#label, #bouton1{
    color: white;
}
#bouton1, #input{
    border-radius: 10%;
}
section:nth-of-type(2){
    border-style: solid rgb(238, 238, 238) 1px;
    display: flex;
    padding: 5px;
    margin: 5px;
    height: 60px;
    text-transform: uppercase;
    font-size: small;
}
#logomolengeek{
    height: 60px;
}
#listenav{
    display: flex;
    padding: 5px;
    margin: 5px;
}

#footer{
    background-color: rgb(54, 54, 54);
    color: white;
    justify-content: center;
    align-items: center;
}
#links{
    display: flex;
}
#contenu{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#liste2{
}